{% load static %}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой сайт на Django</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'authy/css/style.css' %}">
</head>
<body>

    <div class="container centered-container" x-data="formValidation">
        <div id="login_">
            <div class="d-flex justify-content-center" style='padding-top: 200px;'>
                <div class="Title">
                    <h1>Authentication</h1>
                </div>
            </div>
            <div class="row login">
                <div class="d-flex justify-content-center">
                    <form method='post' class='form_auth' style='padding-top: 50px;' hx-post="/auth" hx-swap="none" style="padding-top: 50px;">
                        {% csrf_token %}
                        <label for="login_username" class='login_label'>Username:</label><br>
                        <input x-model='lg_username' type="text" id="login_username_input" class='custom_form' name="login_username" placeholder='example'
                                                                                                                        @blur="validateLoginUsername"
                                                                                                                        @input='validateLoginForm'><br>
                        <div x-show="!lg_username" class="error-message" x-text ='LgNameError'></div>
                        <div id='form_error_login_Username' class='d-flex justify-content-center' style='color:red; padding-top:5px;'></div>

                        <label for="login_password" class='login_label'>Password:</label><br>
                        <input type="password" pattern="^(?=.*[^\w\s]).{8,}$" title="Password must contain > 8 char with 1 special char"
                               x-model='lg_password' id="login_password_input" class='custom_form' name="login_password" placeholder='example'
                                                                                                                        @blur="validateLoginPassword"
                                                                                                                        @input='validateLoginForm'><br>
                        <div x-show="!lg_password" class="error-message"x-text ='LgPassError'></div>
                        <div id='form_error_login_Password' class='d-flex justify-content-center' style='color:red; padding-top:5px;'></div>
                        <div class="d-flex justify-content-center" style='padding-top:20%'>
                            <button type="submit" class='custom_submit_button' :disabled="!isLoginFormValid" >Login -></button>                        
                        </div>
                        <div class='to_next_page d-flex justify-content-center' id='to_register'>
                            Registration...
                        </div>
                    </form>
                </div>
        </div>
    </div>
        <div id="registration_" class='hidden'>
            <div class="d-flex justify-content-center" style='padding-top: 130px;'>
                <div class="Title">
                    <h1>Registration</h1>
                </div>
            </div>
            <div class="row registration">
                <div class="d-flex justify-content-center">
                    <form method='post' class='form_auth' style='padding-top: 50px;'style='padding-top: 50px;' hx-post="/auth" hx-swap="none">
                        {% csrf_token %}
                            <label for="registration_username" class='login_label'>Username:</label><br>
                            <input x-model='reg_username' type="text" id="reg_username_input" class='custom_form' name="registration_username" placeholder='example'
                                                                                                                                 @blur="validateRegUsername"
                                                                                                                                 @input='validateRegisterForm'><br>
                            <div x-show="!reg_username" class="error-message" x-text ='RegNameError'></div>
                            <div id='form_error_registration_Username' class='d-flex justify-content-center' style='color:red; padding-top:5px;'></div>


                            <label for="registration_email" class='login_label'>Email:</label><br>
                            <input x-model='reg_email' type="email" id="reg_email_input" class='custom_form' name="registration_email" placeholder='example@gmail.com'
                                                                                                                                 @blur="validateRegEmail"
                                                                                                                                 @input='validateRegisterForm'><br>
                            <div x-show="!reg_email" class="error-message" x-text ='RegEmailError'></div>
                            <div id='form_error_registration_Email' class='d-flex justify-content-center' style='color:red; padding-top:5px;'></div>

                            <label for="registration_password" class='login_label'>Password:</label><br>
                            <input x-model='reg_password' type="password" pattern="^(?=.*[^\w\s]).{8,}$" title="Password must contain > 8 char with 1 special char"
                                    id="reg_password_input" class='custom_form' name="registration_password" placeholder='example'
                                                                                                                                 @blur="validateRegPass"
                                                                                                                                 @input='validateRegisterForm'><br>
                            <div x-show="!reg_password" class="error-message" x-text ='RegPassError'></div>

                            <label for="registration_confirm_password" class='login_label'>Confirm Password:</label><br>
                            <input x-model='reg_confirm_password' type="password" pattern="^(?=.*[^\w\s]).{8,}$" title="Password must contain > 8 char with 1 special char"
                                    id="reg_confirm_password_input" class='custom_form' name="registration_confirm_password" placeholder='example'
                                                                                                                                 @blur="validateRegConfPass"
                                                                                                                                 @input='validateRegisterForm'><br>
                            <div x-show="!reg_confirm_password" class="error-message" x-text ='RegConfPassError'></div>
                            <div id='form_error_registration_ConfPass' class='d-flex justify-content-center' style='color:red; padding-top:5px;'></div>


                            <div class="d-flex justify-content-center" style='padding-top:20%'>
                                <button type="submit" class='custom_submit_button' :disabled="!isRegisterFormValid" >Register -></button>                        
                            </div>
                            <div class='to_next_page d-flex justify-content-center' id='to_login'>
                                Login...
                            </div>
                    </form>
            </div>
        </div>
    </div>

    <script src="{% static 'authy/js/script.js' %}"></script>
    <script src="{% static 'authy/js/alphine.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</body>
</html>
