.login_label{
  padding-top: 15px;
}
.custom_form,.custom_form::placeholder {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-top: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-right: 0px solid #ccc;
  border-bottom: 2px solid black;
  transition: font-size 0.2s;
  font-size: 16px;
  text-align: center;
}
.custom_form:focus {
  outline: none;
  border-color: black;
  font-size: 18px;
}
.custom_form:after {
  outline: none;
  border-color: black;
  font-size: 30;
}
.form_auth{
  width: 400px;
}
.custom_submit_button{
  margin: 0;
  padding: 0;
  background-color: white;
  border: 0px solid;
  opacity: 60%;
  transition: opacity 0.3s;
}
.custom_submit_button:hover{
  opacity: 100%;
}
.to_next_page{
  font-size:13px;
  margin-top: 10px;
  font-weight: 700;
  opacity: 40%;
  cursor:pointer;
  transition: opacity 0.3s;
}
.to_next_page:hover{
  opacity: 100%;
}
.hidden{
  display: none;
}

.error-message {
  color: red;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 600;
}
